In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options

import time

from tqdm import tqdm

from random import randint

import pandas as pd

chrome_options = Options()
chrome_options.add_argument("--start-maximized")

In [2]:
# LOAD PROFILE URLS FROM FILE
urls = [line.rstrip('\n') for line in open("linkedin_profile_urls.txt")]
print("Number of urls: ", len(urls))

Number of urls:  898

In [3]:
# REMOVE DUPLICATE URLS
urls = list(dict.fromkeys(urls))
print("Number of urls: ", len(urls))

Number of urls:  587

In [26]:
all_name = []
all_headline = []
all_location = []
all_no_of_connections = []
all_about = []
all_experiences = []
all_educations = []
all_l_and_c = []
all_skills = []

In [30]:
# FUNCTION TO SCRAPE
def scrape(url, username_input, password_input):
    # GO TO URL
    browser.get(url)
    
    # LOGIN
    try:
        sign_in_btn = browser.find_element_by_xpath("//p[@class='form-subtext login']/a")
        sign_in_btn.click()
        username = browser.find_element_by_xpath("//input[@class='login-email']")
        username.send_keys(str(username_input))
        time.sleep(0.5)
        password = browser.find_element_by_xpath("//input[@class='login-password']")
        password.send_keys(str(password_input))
        time.sleep(0.5)
        submit_btn = browser.find_element_by_xpath("//input[@class='login submit-button']")
        submit_btn.click()

        WebDriverWait(browser, 5).until(EC.presence_of_element_located((By.ID, "experience-section")))
        time.sleep(5)
    except:
        pass
    
    # CLICK SHOW MORE
    end = False
    while(not end):
        try:
            show_more_btn = browser.find_elements_by_xpath("//button[@class='pv-profile-section__see-more-inline pv-profile-section__text-truncate-toggle link link-without-hover-state']")

            if(len(show_more_btn) == 0):
                end = True

            for btn in show_more_btn:
                btn.location_once_scrolled_into_view
                browser.execute_script("window.scrollTo(0, window.scrollY - 200)")
                time.sleep(randint(1,4))
                btn.click()
        except:
            end = True

    # CLICK SEE MORE
    try:
        see_more_btn = browser.find_elements_by_xpath("//a[@class='lt-line-clamp__more']")

        for btn in see_more_btn:
            try:
                btn.location_once_scrolled_into_view
                browser.execute_script("window.scrollTo(0, window.scrollY - 200)")
                time.sleep(randint(1,4))
                btn.click()
            except:
                pass   
    except:
        pass

    # CLICK SKILLS SHOW MORE
    try:
        skills_show_more_btn = browser.find_element_by_xpath("//button[@aria-controls='skill-categories-expanded']")
        skills_show_more_btn.location_once_scrolled_into_view
        browser.execute_script("window.scrollTo(0, window.scrollY - 200)")
        time.sleep(randint(1,4))
        skills_show_more_btn.click()
    except:
        pass
    
    #----------------------COLLECTION----------------------------
    # GET NAME
    name = browser.find_element_by_xpath("//li[@class='inline t-24 t-black t-normal break-words']").text
    all_name.append(name)
    time.sleep(0.1)
    # GET HEADLINE
    headline = "Nil"
    try:
        headline = browser.find_element_by_xpath("//h2[@class='mt1 t-18 t-black t-normal']").text
    except:
        headline = "Nil"
    all_headline.append(headline)
    time.sleep(0.1)
    # GET LOCATION
    country = browser.find_element_by_xpath("//li[@class='t-16 t-black t-normal inline-block']").text
    all_location.append(country)
    time.sleep(0.1)
    # GET NUMBER OF CONNECTIONS
    no_of_connections = browser.find_element_by_xpath("//span[@class='t-16 t-black t-normal']").text
    all_no_of_connections.append(no_of_connections)
    time.sleep(0.1)
    # GET ABOUT
    about = "Nil"
    try:
        about = browser.find_element_by_xpath("//span[@class='lt-line-clamp__raw-line']").text
    except:
        about = "Nil"
    if about == "Nil":
        try:
            about = browser.find_element_by_xpath("//span[@class='lt-line-clamp__line lt-line-clamp__line--last']").text
        except:
            about = "Nil"
    all_about.append(about)
    time.sleep(0.1)
    # GET LIST OF EXPERIENCE
    experience_list = []
    try:
        experience = browser.find_element_by_id("experience-section")
        positions = experience.find_elements_by_class_name("pv-position-entity")

        for position in positions:
            entries = position.find_elements_by_class_name("pv-entity__position-group-role-item")

            if(len(entries)>0):
                company = position.find_element_by_class_name("pv-entity__company-summary-info").find_element_by_tag_name("h3").text.replace("Company Name", "").strip()
                for entry in entries:
                    title = entry.find_element_by_class_name("pv-entity__summary-info--background-section").find_element_by_tag_name("h3").text.replace("Title", "").strip()
                    try:
                        duration_date = entry.find_element_by_class_name("pv-entity__summary-info--background-section").find_element_by_class_name("pv-entity__date-range").text.replace("Dates Employed", "").strip()
                    except:
                        duration_date = "Nil"
                    try:
                        duration_length = entry.find_element_by_class_name("pv-entity__summary-info--background-section").find_elements_by_tag_name("h4")[1].text.replace("Employment Duration", "").strip()
                    except:
                        duration_length = "Nil"
                    try:
                        description = entry.find_element_by_class_name("pv-entity__description").find_element_by_tag_name("span").text.strip()
                    except:
                        description = 'Nil'

                    experience_list.append({'title':title, 'company':company, 'duation_date':duration_date, 'duration_length':duration_length, 'description':description})

            else:
                title = position.find_element_by_tag_name("h3").text.strip()
                company = position.find_element_by_class_name("pv-entity__secondary-title").text.strip()
                duration_date = position.find_element_by_class_name("pv-entity__date-range").text.replace("Dates Employed", "").strip()
                duration_length = position.find_element_by_class_name("pv-entity__bullet-item-v2").text.replace("Employment Duration", "").strip()

                try:
                    description = position.find_element_by_class_name("pv-entity__description").text.strip()
                except:
                    description = 'Nil'

                experience_list.append({'title':title, 'company':company, 'duation_date':duration_date, 'duration_length':duration_length, 'description':description})
                time.sleep(0.1)
        if(len(experience_list)==0):
            all_experiences.append([None])
        else:
            all_experiences.append(experience_list)
        time.sleep(0.1)
    except:
        all_experiences.append([None])
    # GET LIST OF EDUCATION
    education_list = []
    try:
        educations = browser.find_element_by_id("education-section")

        for education in educations.find_elements_by_class_name("pv-education-entity"):
            school = education.find_element_by_class_name("pv-entity__school-name").text.strip()
            try:
                course_type = education.find_element_by_class_name("pv-entity__degree-name").text.replace("Degree Name", "").strip()
            except:
                course_type = "Nil"
            try:
                course = education.find_element_by_class_name("pv-entity__fos").text.replace("Field Of Study", "").strip()
            except:
                course = 'Nil'
            try:
                duration = education.find_element_by_class_name("pv-entity__dates").text.replace("Dates attended or expected graduation", "").strip()
            except:
                duration = "Nil"
            try:
                description = education.find_element_by_class_name("pv-entity__description").text.strip()
            except:
                description = "Nil"

            education_list.append({'school':school, 'type':course_type, 'course':course, 'duration':duration, 'description':description})
            time.sleep(0.1)
    except:
        education_list.append(None)
    
    if(len(education_list)==0):
        all_educations.append([None])
    else:
        all_educations.append(education_list)
    time.sleep(0.1)
    
    # GET LIST OF LICENSES AND CERTIFICATIONS
    l_and_c_list = [None]
    try:
        l_and_c = browser.find_element_by_id("certifications-section")
        l_and_c_list = []
        for landc in l_and_c.find_elements_by_class_name("pv-certification-entity"):
            name = landc.find_element_by_class_name("pv-certifications__summary-info").find_element_by_tag_name("h3").text.strip()
            try:
                provider = landc.find_element_by_class_name("pv-certifications__summary-info").find_element_by_tag_name("p").text.replace("Issuing authority", "").strip()
            except:
                provider = "Nil"
            l_and_c_list.append({'name':name, 'provider':provider})
            time.sleep(0.1)
    except:
        l_and_c_list = [None]
    
    if(len(l_and_c_list)==0):
        all_l_and_c.append([None])
    else:
        all_l_and_c.append(l_and_c_list)
    time.sleep(0.1)
    
    # GET LIST OF SKILLS
    skills_list = [None]
    try:
        skills = browser.find_elements_by_xpath("//span[@class='pv-skill-category-entity__name-text t-16 t-black t-bold']")
        skills_list = []
        for skill in skills:
            skills_list.append(skill.text.strip())
            time.sleep(0.1)
    except:
        skills_list = [None]
    
    if (len(skills_list)==0):
        all_skills.append([None])
    else:
        all_skills.append(skills_list)
    time.sleep(0.1)
    
    # GET LIST OF OTHER PROFILES
    profiles = browser.find_elements_by_xpath("//a[@data-control-name='browsemap_profile']")
    f = open("extra_linkedin_profile_urls.txt", "a")
    for profile in profiles:
        f.write("%s\n" %profile.get_attribute("href"))
    f.close()
    
    time.sleep(randint(15,30))

In [34]:
for i in range(58):
    print("Collecting from: ", i*10, "to ", (i*10)+10)
    # OPEN CHROME BROWSER
    browser = webdriver.Chrome("C:/chromedriver", options=chrome_options)
    time.sleep(2)
    # CHANGE ACCOUNT EVERY 10 PROFILES SCRAPPED
    for url in urls[i*10:(i*10)+10]:
        if(i%2==0):
            try:
                # ACCOUNT 1
                scrape(url, "<INSERT ACCOUNT 1 USERNAME>", "<INSERT ACCOUNT 1 PASSWORD>")
            except:
                f = open("log.txt", "a")
                f.write("%s\n" %url)
                f.close()
        else:
            try:
                # ACCOUNT 2
                scrape(url, "<INSERT ACCOUNT 2 USERNAME>", "<INSERT ACCOUNT 2 PASSWORD>")
            except:
                f = open("log.txt", "a")
                f.write("%s\n" %url)
                f.close()
                
    try:
        # CREATES A DATAFRAME
        profiles = pd.DataFrame({'name':all_name,
                             'headline':all_headline,
                             'location':all_location,
                             'no_of_connections':all_no_of_connections,
                             'about':all_about,
                             'experiences':all_experiences,
                             'educations':all_educations,
                             'licenses_and_certificates': all_l_and_c,
                             'skills': all_skills})   
        print(len(profiles))
    except:
        print("Failed to append above")
    time.sleep(randint(90,150))
    browser.quit()

Collecting from:  440 to  450
320
Collecting from:  450 to  460
330
Collecting from:  460 to  470
340
Collecting from:  470 to  480
350
Collecting from:  480 to  490
360
Collecting from:  490 to  500
370
Collecting from:  500 to  510
380
Collecting from:  510 to  520
390
Collecting from:  520 to  530
400
Collecting from:  530 to  540
410
Collecting from:  540 to  550
420
Collecting from:  550 to  560
429
Collecting from:  560 to  570
439
Collecting from:  570 to  580
449

In [35]:
profiles

,name,headline,location,no_of_connections,about,experiences,educations,licenses_and_certificates,skills
0,Tan Kwan Chet,Aspiring Data Scientist | R & Tableau,Singapore,500+ connections,- Conducted predictive modelling such as Decis...,"[{'title': 'Senior Data Analyst', 'company': '...",[{'school': 'National University of Singapore'...,[{'name': 'Introduction to Structured Query La...,"[Management, Tableau, PowerPoint, Data Analysi..."
1,Vishnu Gowthem Thangaraj,Data Analyst at DataSpark,Singapore,475 connections,I am a Computer Science Graduate student at Na...,"[{'title': 'Data Analyst', 'company': 'DataSpa...",[{'school': 'National University of Singapore'...,[{'name': 'Oracle 9i Database Administrator Ce...,"[Data Analysis, Statistical Modeling, R, Netwo..."
2,Karuna Kemmu,Business Data Analyst at Course5i,Singapore,500+ connections,Experienced Senior Data Analyst with a demonst...,"[{'title': 'Business Data Analyst', 'company':...",[{'school': 'National University of Singapore'...,[{'name': 'Measure Campaign Performance With A...,"[R, Data Analysis, SPSS, Analytics, Machine Le..."
3,Aravind Somasundaram,Senior Data Analyst @ PSA,Singapore,409 connections,"Analytics being a key to the future, I would c...","[{'title': 'Senior Data Analyst', 'company': '...",[{'school': 'National University of Singapore'...,"[{'name': 'AdWords Mobile Certification', 'pro...","[Data Analytics, SQL, Sentiment Analysis, Anal..."
4,Zed Ngoh,Data Analyst,Singapore,153 connections,I am a graduate from the University at Buffalo...,"[{'title': 'Data Analyst', 'company': 'SIM Glo...","[{'school': 'University at Buffalo', 'type': '...",[None],[None]
5,Louis Lim,Data Analyst at BlueSG,Singapore,357 connections,• Set up a data driven culture in the company;...,"[{'title': 'Data Analyst', 'company': 'BlueSG'...",[{'school': 'National University of Singapore'...,"[{'name': 'Customer Analytics', 'provider': 'C...","[Python (Programming Language), Research, Busi..."
6,Srikanth Kadithota,Data Product Manager at Mobilewalla,Singapore,500+ connections,Masters in Data Analytics at Singapore Managem...,"[{'title': 'Data Product Manager', 'company': ...","[{'school': 'Singapore Management University',...",[None],"[SQL, C, SDLC, Requirements Analysis, Agile Me..."
7,Yong Cheng Lim,Data Analyst at Canopy,Singapore,13 connections,Nil,[None],[None],[None],[None]
8,Lionel Lau,Analytics Manager at Klook,Singapore,404 connections,growth hacking.,"[{'title': 'Business Analytics Manager', 'comp...",[{'school': 'National University of Singapore'...,[{'name': 'Data Analytics Process and Best Pra...,"[Data Analysis, Project Management, Business A..."
9,Agrim Gairola,Project Manager - Data Analytics at AXA,Singapore,500+ connections,"• Drive multiple concurrent Data Analytics,Bus...","[{'title': 'Project Manager - Data Analytics',...","[{'school': 'Singapore Management University',...",[None],"[SAS Enterprise Miner, Tableau, JMP, Insurance..."
10,Zheyu Wu,Data Analyst at Bosch ASEAN,Singapore,65 connections,I am a graduate student at National University...,"[{'title': 'Data Analyst', 'company': 'Bosch A...",[{'school': 'National University of Singapore'...,[None],"[Microsoft Office, Microsoft Excel, Python (Pr..."
11,Suresh Subramaniam,Data Analyst at JPMorgan Chase & Co.,Singapore,84 connections,"Process, Account Reconciliation, Root Cause An...","[{'title': 'Data Analyst', 'company': 'JPMorga...","[{'school': 'RMIT University', 'type': 'Bachel...","[{'name': 'Advanced Google Analytics', 'provid...","[Microsoft Office, Programming, Business Proce..."
12,Joanna Quek,Aspiring Business Analyst | SAS Scholarship Re...,Singapore,378 connections,Aspiring data analyst with 4 years of engineer...,"[{'title': 'Business Intelligence Analyst', 'c...","[{'school': 'Singapore Management University',...",[None],"[Matlab, Microsoft Office, Process Simulation,..."
13,Mahendra Kumar K S,Data Analyst at Study Group,Singapore,241 connections,• Extensively gather requirements from all use...,"[{'title': 'Data Analyst', 'company': 'Study G...",[{'school': 'National University of Singapore'...,[None],"[Requirements Analysis, Business Analysis, Ana..."
14,Pankaj Mitra,Machine Learning | Marketing Specialist | Data...,Singapore,500+ connections,A thorough Professional with a track record th...,[{'title': 'Machine Learning Marketing Special...,[{'school': 'National University of Singapore'...,[{'name': 'Verified International Academic Qua...,"[Business Analytics, Predictive Analytics, R, ..."
15,Koon Aik Toh,Data Analyst at Eastspring Investments Singapo...,Singapore,194 connections, Initiate pragmatic approach for developing l...,"[{'title': 'Data Analyst', 'company': 'Eastspr...","[{'school': 'University of Melbourne', 'type':...",[None],"[SQL, HTML, Testing, Analysis, Business Analys..."
16,Jamie Qianhui Lu,Data Analyst at Far East Organization,Singapore,386 connections,Currently developing & managing the end-to-end...,"[{'title': 'Data Analyst, Information Technolo...",[{'school': 'National University of Singapore'...,[{'name': 'Data Warehouse Concepts: Basics to ...,"[Tableau, SAS VA, Microsoft Excel, Market Rese..."
17,Somnath Banerjee,Looking for Jobs | Data Science Professional |...,Singapore,500+ connections,Experienced data scientist professional with i...,"[{'title': 'Intern, Data Analyst/Data Scientis...",[{'school': 'National University of Singapore'...,[None],"[R, JavaScript, Python, Campaign Management, L..."
18,Jack Ong Min Keat,Data Scientist at GovTech Singapore,Singapore,500+ connections,... See more,"[{'title': 'Data Scientist', 'company': 'GovTe...",[{'school': 'National University of Singapore'...,[None],"[Data Visualization, Data Mining, Programming,..."
19,Anthony Ivan,Senior Data Analyst at Grab,Singapore,500+ connections,Focused on creating impact in the work and pro...,"[{'title': 'Senior Data Analyst', 'company': '...","[{'school': 'University of Indonesia', 'type':...","[{'name': 'Introduction to the Tidyverse', 'pr...","[Data Science, Data Analytics, Tableau, Machin..."
20,wah yean lee,Data Analyst/ at Agency for Integrated Care (S...,Singapore,35 connections,Data management and protection,"[{'title': 'Data Analyst', 'company': 'Agency ...",[{'school': 'National University of Singapore'...,[None],"[Project Management, Healthcare Analytics, IT ..."
21,Raja Mohan,Sr. Data Analytics & Business Intelligence Con...,Singapore,500+ connections,• CERTIFIED DATA ANALYTICS (R) SPECIALIST\n• C...,"[{'title': 'Data Analyst / Data Scientist', 'c...","[{'school': 'Annamalai University, India', 'ty...",[{'name': 'Certified Big Data Science Analyst'...,"[Data Warehousing, Business Intelligence, ETL,..."
22,Celia Kuo,Data Analyst,Singapore,337 connections,A data analytics professional with business an...,"[{'title': 'Data Analyst', 'company': 'Curtin ...","[{'school': 'National Sun Yat-sen University',...","[{'name': 'Quantitative Analyst with R track',...","[Python, SQL, Data Analysis, Statistics, Finan..."
23,Abhinav Agarwal,Data Analyst at ULTUMUS,Singapore,424 connections,Strong and experienced professional with a Mas...,"[{'title': 'Data Analyst', 'company': 'ULTUMUS...","[{'school': 'Singapore Management University',...","[{'name': 'CCNA', 'provider': 'Cisco'}]","[Equity Research Analysis, Teamwork, Bloomberg..."
24,Naseera Khan,Data Analyst at Singapore at Diligent IT Services,Singapore,130 connections,• Designed and developed algorithm for predict...,"[{'title': 'Data Analyst at Singapore', 'compa...",[{'school': 'CMR Institute Of Management Studi...,[None],"[Microsoft Office, Microsoft Excel, Social Med..."
25,Low Kang Jiang,Senior Data Analyst | Big Data Analytics,Singapore,317 connections,"SmartHub Analytics Team, Telco Big Data Analyt...","[{'title': 'Senior Data Analyst', 'company': '...",[{'school': 'National University of Singapore'...,[{'name': 'Probability and Statistics for Busi...,"[Data Analysis, Python, PySpark, Machine Learn..."
26,Eva Sally,Senior Data Analyst,Singapore,184 connections,I have over 7 years experience as IT Consultan...,"[{'title': 'Senior Data Analyst', 'company': '...",[None],[None],"[Business Analysis, PL/SQL, Oracle, Requiremen..."
27,Valerie Lim,Data @ GO-JEK | We're Hiring!,Singapore,500+ connections,"With a team of 6 on my project, I design micro...","[{'title': 'Data Analyst', 'company': 'GO-JEK'...",[{'school': 'National University of Singapore'...,"[{'name': 'Managing Big Data with MySQL', 'pro...",[None]
28,Sarjune Ibrahim,"Senior Data Analyst, Data Analytics at FIGS INC",Singapore,485 connections,"Compilation, restructuring, analysis and effec...","[{'title': 'Senior Data Analyst', 'company': '...",[{'school': 'National University of Singapore'...,"[{'name': 'Python for Data, Ops and Things', '...","[Data Analysis, Research, Market Research, Sta..."
29,Alson Yap,Data Analyst at HOOQ,Singapore,500+ connections,"As a graduate of Mathematics and Economics, Al...","[{'title': 'Data Analyst', 'company': 'HOOQ', ...","[{'school': 'Georgia Institute of Technology',...","[{'name': 'Java 8 Essential Training', 'provid...","[Data Analysis, Computer Vision, Machine Learn..."
...,...,...,...,...,...,...,...,...,...
419,Xue-Yong Fu,Data Scientist at PatSnap,Singapore,500+ connections,A data scientist specialising in deep learning...,"[{'title': 'Data Scientist', 'company': 'PatSn...","[{'school': 'National Taiwan University', 'typ...",[None],"[Data Analysis, Machine Learning, Natural Lang..."
420,Setu Chokshi,Director of Data Science at PropertyGuru Group,Singapore,500+ connections,"Hello, my name is Setu Chokshi\n\nWHO I AM: I’...","[{'title': 'Director of Data Science', 'compan...","[{'school': 'Indian Institute of Technology, B...",[None],"[Machine Learning / Artificial Intelligence, T..."
421,Jawad Md,Data Scientist at GO-JEK,Singapore,500+ connections,"Senior Software Engineer in Java, J2EE web app...","[{'title': 'Data Scientist', 'company': 'GO-JE...","[{'school': 'Anna University', 'type': 'Bachel...","[{'name': 'Getting and Cleaning Data', 'provid...","[Python, R, SPSS, Statistics, Java Enterprise ..."
422,Arun Sugumar,Data Scientist | Deep Learning | Computer Visi...,Singapore,500+ connections,Data Science professional with 2+ years of ind...,"[{'title': 'Data Scientist', 'company': 'Amari...",[{'school': 'National University of Singapore'...,"[{'name': 'Statistical Learning', 'provider': ...",[None]
423,Meisi W.,Data Scientist,Singapore,442 connections,"- Data manipulation, transformation, feature e...","[{'title': 'Data Scientist', 'company': 'Surba...","[{'school': 'Northwestern University', 'type':...",[None],"[Data Analysis, R, Machine Learning, Urban Pla..."
424,Rahul Gupta,Data Scientist at DBS Bank,Singapore,500+ connections,Analytics Consultant/Data scientist with exper...,"[{'title': 'Data Scientist', 'company': 'DBS B...",[{'school': 'National University of Singapore'...,"[{'name': 'Convolutional Neural Networks', 'pr...","[R, SAS, SQL, Analysis, Business Analysis, Bus..."
425,Xavier Conort,Chief Data scientist at DataRobot,Singapore,500+ connections,French actuary with near 20 years of working e...,"[{'title': 'Chief Data scientist', 'company': ...","[{'school': 'ENSAE Paris', 'type': 'Master', '...",[None],"[Predictive Modeling, R, Machine Learning, Sta..."
426,Song Li,"Data Scientist, Technical Lead at Standard Cha...",Singapore,211 connections,"modeling, and optimization.","[{'title': 'Data Scientist, Technical Lead', '...",[{'school': 'Nanyang Technological University'...,[None],"[Machine Learning, Artificial Neural Networks,..."
427,Rohit Acharya,Data Science at NTT,Singapore,500+ connections,"With experience in commercial analytics, my mi...","[{'title': 'Data Scientist', 'company': 'NTT',...","[{'school': 'University of Wales', 'type': 'Ma...",[{'name': 'Analyzing and Visualizing Data with...,[None]
428,Kajanan Sangaralingam,Senior Data Scientist at Mobilewalla - PhD. (N...,Singapore,500+ connections,Doctoral graduate from National University of ...,"[{'title': 'Senior Data Scientist', 'company':...",[{'school': 'National University of Singapore'...,[{'name': 'Oracle Ceritified P/L SQL Developer...,[None]
429,Qingfei (Nolan) KONG,Data Scientist at Accenture,Singapore,203 connections,Independently ran an end-to-end marketing anal...,"[{'title': 'Junior Data Scientist', 'company':...",[{'school': 'National University of Singapore'...,[None],"[Python (Programming Language), R, Data Scienc..."
430,Darren Toh,Iron Ore Trader / Data Scientist / Iron Ore Ar...,Singapore,500+ connections,Darren was assigned to me under the Internatio...,[{'title': 'Iron Ore Consultant (Asean Iron Or...,[{'school': 'SMU Institute of Innovation & Ent...,[None],"[Trading, Commodity, Commodity Markets, Intern..."
431,"Geraldine Wong, PhD",Data Science | Artificial Intelligence | Consu...,Singapore,500+ connections,Nil,"[{'title': 'Assoc. Director, Data Science and ...","[{'school': 'University of Adelaide', 'type': ...",[{'name': 'NICF-Managing Project Stakeholders:...,"[Data Analysis, Data Mining, R, Analytics, Sta..."
432,Hang (Harvey) Y.,Data Scientist at GIC,Singapore,500+ connections,Passionate about Data Sciences.\n\nExperience ...,"[{'title': 'Data Scientist / AVP', 'company': ...",[{'school': 'University of Illinois at Urbana-...,"[{'name': 'First Aid and CPR Certification', '...",[None]
433,Takanori Aoki,Data Scientist at HOOQ (Joint venture of Singt...,Singapore,500+ connections,Takanori is Data Scientist who has five years’...,"[{'title': 'Data Scientist', 'company': 'HOOQ'...",[{'school': 'National University of Singapore'...,"[{'name': 'Mini MBA', 'provider': 'IBM'}]","[Neural Networks, Statistical Modeling, Statis..."
434,Wei Yih Yap,Senior Data Scientist at Amazon Web Services (...,Singapore,155 connections,"• Developed traffic prediction and risk model,...","[{'title': 'Senior Data Scientist', 'company':...",[{'school': 'National University of Singapore'...,[{'name': 'Improving Deep Neural Networks: Hyp...,"[Machine Learning, Amazon Web Services (AWS), ..."
435,Teng Yin,Data Scientist (Manager) at EY,Singapore,172 connections,Yin Teng provides consultancy to conceptualise...,"[{'title': 'Data Scientist (Manager)', 'compan...",[{'school': 'National University of Singapore'...,[None],"[R, Statistics, Statistical Modeling, Research..."
436,Collins Wenhan Chu,Lead Data Scientist at StarHub,Singapore,500+ connections,Provided in-depth data analysis and address co...,"[{'title': 'Lead Data Scientist', 'company': '...",[{'school': 'National University of Singapore'...,[None],"[R, Machine Learning, Bioinformatics, Data Ana..."
437,Xuejie Zhang,"VP, Data Scientist Lead at DBS Bank",Singapore,500+ connections,Leading a data scientist team to deliver data ...,"[{'title': 'VP, Data Scientist Lead', 'company...",[{'school': 'Nanyang Technological University'...,[{'name': 'Applied Social Network Analysis in ...,"[Machine Learning, Deep Learning, Computer Vis..."
438,Vicknesh Selvam,Data Scientist at ST Electronics,Singapore,117 connections,Data Scientist. Currently working on Transport...,"[{'title': 'Data Scientist', 'company': 'ST En...","[{'school': 'University of California, Los Ang...",[None],"[Research, Simulations, Science]"
439,Sudheer Moguluri,Senior Data Scientist at CrimsonLogic Pte Ltd,Singapore,500+ connections,,"[{'title': 'Senior Research(Data) Scientist', ...",[{'school': 'National University of Singapore'...,[{'name': 'Google Analytics Individual Qualifi...,"[Python, PySpark, Data Science, Data Analysis,..."
440,Sifat Khan,Artificial Intelligence | Machine Learning | P...,Singapore,500+ connections,Always Learning. Always Improving.\n\nData Sci...,"[{'title': 'Data Science Instructor', 'company...",[{'school': 'Singapore University of Technolog...,[None],"[Microsoft Excel, SQL, Tableau, Machine Learni..."
441,Justin Bolilia,Data Scientist at Grab,Singapore,500+ connections,should be able to go anywhere - and trust that...,"[{'title': 'Senior Data Scientist', 'company':...",[{'school': 'Nanyang Technological University'...,[None],[None]
442,Ai Kiar Ang,Data Scientist at IBM Singapore,Singapore,149 connections,- Advanced Analytics for End to End Supply Cha...,"[{'title': 'Data Scientist', 'company': 'IBM',...","[{'school': 'University of Technology, Malaysi...","[{'name': 'Certified Scrum Master', 'provider'...","[Microsoft Office, Customer Service, Microsoft..."
443,Pramod Balakrishnan,Data Scientist at SparkBeyond,Singapore,500+ connections,Responsibilities include leading delivery of p...,"[{'title': 'Data Scientist', 'company': 'Spark...","[{'school': 'Indian Institute of Technology, B...","[{'name': 'Data Engineering, Big Data, and Mac...","[Data Mining, Analytics, R, Machine Learning, ..."
444,Vipul Jain,Applied Data Scientist,Singapore,500+ connections,A data scientist with a focus on machine learn...,[{'title': 'Applied Data Scientist - Machine L...,"[{'school': 'deeplearning.ai', 'type': 'Deep L...",[{'name': 'Recommendation Systems with TensorF...,"[Tensorflow, Python, Machine Learning, Mobile ..."
445,Mathias Loh,Data Scientist at Shift Technology,Singapore,132 connections,"Data scientist aspirant. Fluent in SQL, Python...","[{'title': 'Data Scientist', 'company': 'Shift...","[{'school': 'CentraleSupelec', 'type': 'Diplom...",[None],"[Data Science, C++, Matlab, Data Analysis, Pro..."
446,Maxime Paul,Chief Data Scientist APAC,Singapore,500+ connections,The role of our data science team is split in ...,"[{'title': 'Chief Data Scientist APAC', 'compa...","[{'school': 'Ecole polytechnique', 'type': 'En...",[None],"[Data Mining, Big Data, Statistical Data Analy..."
447,Koo Ping Shung,Data Science & Artificial Intelligence/Consult...,Singapore,500+ connections,Data scientist armed with an MBA degree & 14+ ...,"[{'title': 'Co-founder/Practicum Director', 'c...","[{'school': 'University of Adelaide', 'type': ...","[{'name': 'Baseline: Data, ML, AI', 'provider'...",[None]
448,Randy Phoa,Senior Data Scientist - Data Science and AI El...,Singapore,65 connections,My interests are in large scale distributed hi...,[{'title': 'Senior Data Scientist - Data Scien...,[{'school': 'National University of Singapore ...,"[{'name': 'Deep Learning Specialization', 'pro...",[None]

In [36]:
profiles.to_csv("linkedin_profiles.csv", encoding="utf-8-sig")

In [62]:
# READ EXTRA LINKEDIN PROFILES
extra_profile_urls = [line.rstrip('\n') for line in open("extra_linkedin_profile_urls.txt")]
print("Number of urls: ", len(extra_profile_urls))

Number of urls:  3433

In [63]:
# REMOVE DUPLICATES IN EXTRA PROFILE URLS
extra_profile_urls = list(dict.fromkeys(extra_profile_urls))
print("Number of urls: ", len(extra_profile_urls))

Number of urls:  3433

In [64]:
# WRITE NEW EXTRA URLS BACK INTO FILE
f = open("extra_linkedin_profile_urls.txt", 'r+')
f.truncate(0) # clears file
f.close()

f = open("extra_linkedin_profile_urls.txt", 'a')
for url in extra_profile_urls:
    f.write("%s\n" %url)